<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.litchi.cloud.iot.system.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.litchi.cloud.iot.system.domain.Resource">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="seq" property="seq" />
        <result column="url" property="url" />
        <result column="method" property="method" />
        <result column="pid" property="pid" />
        <result column="type" property="type" />
        <result column="page_url" property="pageUrl" />
        <result column="icon" property="icon" />
    </resultMap>

	<!-- 获取用户资源 -->
    <select id="getResourceListByUserId" resultType="java.lang.Integer" resultMap="BaseResultMap">
        select a.id,a.name,a.remark,a.seq,a.url,a.method,a.pid,a.type,a.page_url,a.type, a.icon from resource a ,role_resource b,user_role c
        where a.id=b.resource_id and b.role_id=c.role_id and c.user_id=#{userId,jdbcType=INTEGER} ORDER BY a.pid,a.seq
    </select>
</mapper>
