<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.litchi.cloud.iot.system.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.litchi.cloud.iot.system.domain.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="seq" property="seq" />
        <result column="pid" property="pid" />
    </resultMap>
    
	<!-- 分页查询列表 -->
	<select id="getPageList" parameterType="Map" resultMap="BaseResultMap">
		select id,name,remark,seq,pid
		from user
		where 1=1
		<if test="param != null">
			<if test="param.name != null and param.name != ''">
				name like CONCAT('%',#{name},'%')
			</if>
		</if>
	</select>
</mapper>
